<launch>
  <arg name="machine_name" default="starleth_hlpc"/>
  <node name="cpu_monitor_$(arg machine_name)" pkg="starleth_system_monitor"
    type="cpu_monitor.py" output="screen" respawn="true">
  </node>
  <node name="hdd_monitor_$(arg machine_name)" pkg="starleth_system_monitor"
    type="hdd_monitor.py" output="screen" respawn="true">
  </node>
  <node name="mem_monitor_$(arg machine_name)" pkg="starleth_system_monitor"
    type="mem_monitor.py" output="screen" respawn="true">
  </node>
  <node name="ntp_monitor_$(arg machine_name)" pkg="starleth_system_monitor"
    type="ntp_monitor.py" output="screen" respawn="true">
  </node>
  <node name="net_monitor_$(arg machine_name)" pkg="starleth_system_monitor"
    type="net_monitor.py" output="screen" respawn="true">
  </node>
  <rosparam command="load"
    file="$(find starleth_system_monitor)/etc/system_monitor_$(arg machine_name).yaml"/>
</launch>
